<%= form_for(current_user.favorites.build, remote: true) do |f| %>

<div>
    <%= hidden_field_tag :hike_id, hike.id %>
</div>
<%#= f.submit %Q!<span class="glyphicon glyphicon-heart"></span>!, class: "btn btn-default" %>
<div id="favorite"><%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
      <span class="glyphicon glyphicon-heart heart-white"></span>
    <% end %>
</div>
<% end %>